<script src="{{ 'vite-RelewiseCategoryComponent.js' | asset_url }}" defer></script>
{{ 'relewise.css' | asset_url | stylesheet_tag }}

<div
  id="root"
  data-shop-currency="{{ shop.currency }}"
  data-collection-id="{{ collection.id }}"
  data-shop-language="{{ shop.locale }}"
></div>

{% schema %}
{
  "name": "Relewise Category",
  "settings": [],
  "presets": [
    {
      "name": "Relewise Category"
    }
  ]
}
{% endschema %}
